

html {
    height: 100%;
    background-color: rgb(58, 20, 29);
}


#body {
    background-color: rgb(67, 58, 64)/#433a40;
    place-items: center;
    background: var(--clr-bg);
    font-family: "Balsamiq Sans", cursive;
    color: var(--clr-neon);
}


.container {
    background-color: whitesmoke;
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 10px;
    position: center;

}

#inputText {
    text-align: center;
    width: 100%;
    height: 100%;
    border: 0;
    outline: 0;
    background: transparent;
    padding: 10px;
    border-radius: 10px;


}


#header {
    --clr-neon: hsl(317 100% 54%);
    color: var(--clr-neon);
    border: var(--clr-neon) 0.125em solid;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,185,212,1) 46%, rgba(246,248,249,1) 100%);
    color: white;
    text-align: center;
    border-radius: 10px;

    text-shadow: 0 0 0.125em hsl(0 0%
    100% / 0,3), 0 0 0.45em currentColor;

    box-shadow: inset 0 0 0.5em 0 var
    (--clr-neon), 0 0 0.5em 0 var
    (--clr-neon);
}

#output { 

    background-color: whitesmoke;  
    width: auto;
    place-items: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }


#nav {
    width: 160px;
    float: center;
}

#main {
    width: 600px;
    float: center;
}
