

html {
    height: 100%;
    background-image: url(https://r4.wallpaperflare.com/wallpaper/843/56/876/night-artwork-futuristic-city-cyberpunk-wallpaper-c8867df8e0a0ece8f06c31aef872443a.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    background-attachment: fixed;


   
}


.body {
    background-color: rgb(247, 247, 247)/#433a40;
    place-items: center;
    background: var(--clr-bg);
    color: var(--clr-neon);
}

/*#headerTitle{
    transition: all 1.0s;
    font-size: 50px;
    display: inline-block;
    padding-right: 12px;
    animation: type 0.5s alternate infinite;
    color: rgb(255, 255, 255);
}*/

#font1 {
    font-size: 1.2rem;/*change button size*/

    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: var(--clr-neon);
    border: var(--clr-neon) 0.125em solid;
    box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
    background: linear-gradient(90deg, rgba(255,255,255,.8) 0%, rgba(255,185,212,.8) 46%, rgba(246,248,249,.8) 100%);
    padding: 0.25em 0.5em;
    border-radius: 0.25em;
    position: relative;
   
    
}

#font2 {
    position: relative;
    background: linear-gradient(90deg, rgba(255,255,255,.8) 0%, rgba(255,185,2212,.8) 46%, rgba(246,248,249,.8) 100%);
    color: rgb(94, 94, 94);
    font-size: 1.2rem;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 2px;
}

#inputText {
    display: inline-block;
    position: relative;
    border: var(--clr-neon) 0.125em solid;
    box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
    text-align: center;
    background: linear-gradient(90deg, rgba(255,255,255,.8) 0%, rgba(255,185,212,.8) 46%, rgba(246,248,249,.8) 100%);

    color: rgb(94, 94, 94);
    padding: 10px;
    width: 100%;
    height: 100%;
    border: 10px;
    outline: 10px;
    border-radius: 0.25em;
    font-size: 1.5rem;

    box-shadow: inset 0 0 0.5em 0 var
    (--clr-neon), 0 0 0.5em 0 var
    (--clr-neon);
}

#text {
    transition: all 1.0s ease-in-out 0,5s;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 1.5rem;

}

#header {
    width: 100%;
    height: 150px;
    transition: all 1.0s;
    box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
    background: linear-gradient(90deg, rgba(255,255,255,.8) 0%, rgba(255,185,212,.8) 46%, rgba(246,248,249,.8) 100%) 0% 0% no-repeat padding-box;

    color: white;
    text-align: center;
    border-radius: 10px;
    padding: 10px;

    box-shadow: inset 0 0 0.5em 0 var
    (--clr-neon), 0 0 0.5em 0 var
    (--clr-neon);
}

.output { 
    transition: all 1.0s ease-in-out 0,5s;
    box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
    background: linear-gradient(90deg, rgba(255,255,255,.8) 0%, rgba(255,185,212,.8) 46%, rgba(246,248,249,.8) 100%);
    border-radius: 10px;
    padding: 10px;
    position: static;
    text-decoration-color: white;


    
    width: auto;
    height: auto;
    place-items: center;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    
}


/*.button {
    margin-left: 50%;
    margin-right: 50%;
    background-color: #af4c91; /* pink */
    /*border: none;
    color: linear-gradient(90deg, rgba(255,255,255,.8) 0%, rgba(255,185,212,.8) 46%, rgba(246,248,249,.8) 100%);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    
}*/

#nav {
    width: 160px;
    float: center;
}

#main {
    width: auto;
    float: center;
}

/*header properties*/
.post-header_title {
    transition: all 1.0s;
    font-size: 50px;
    display: inline-block;
    padding-right: 12px;
    animation: type 0.5s alternate infinite;
    color: rgb(255, 255, 255);
}


#headerTitle{
  text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary),
    9px 9px var(--color-quaternary), 12px 12px 0 var(--color-quinary);
  font-family: 'Times New Roman', Times, serif, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: calc(2rem + 5vw);
  text-align: center;
  margin: 0;
  color: var(--color-primary);
  /*color: transparent;
  background-color: white;
  background-clip: text;*/
  animation: shadows 1.2s ease-in infinite, move 1.2s ease-in infinite;
  letter-spacing: 0.4rem;
}

.post-header_title {
    transition: all 1.0s;
    font-size: 50px;
    display: inline-block;
    padding-right: 12px;
    animation: animate-character 0.5s alternate infinite;
    color: rgb(255, 255, 255);
}



/*<div id="output">
          <pre id="outputText"></pre>
        <pre class="output" form_id="post" scrolling="yes">{{.}}</pre>*/